/* You can add global styles to this file, and also import other style files */
@import './custom-theme';
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: url("assets/background.jpg");
    // background-size: cover;
    //background-image: url("background.jpg");
    /* background-color: white; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    
}
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
